div{
    background-color: #7f7d81;

}
.row{
    border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
          


  }
  h1{
    color: #ffffff;

  }
h5{
    color: #ffffff;
  }
  label {
    color: cadetblue;

  }
  #textoborrar{
    color:cadetblue;
  }

br{
    background-color: #7f7d81;
}
h1{
    margin-left: 20px;
    font-style: italic;
    
    /* color: hwb(0 100% 0%); */
}
.card-body{
    border-color: blue;
}
.card w-75{
    border-width: medium;
}
footer{
    background-color: #7f7d81;
    text-align: center;
}
#creacion{
    text-align: right;
}
.row{
    background-color: #7f7d81;
}
@media(max-width:576px){
   #tarjeta{
    padding-left: 12%;
   }
}
