<div class="row">
    <div class="container">
        <div class="redes">
            <img src="../../../assets/APLogo.png" id="twitter2" alt="twitter2">

      
            
            
        </div>
        <div class="redes">
            <a href="https://twitter.com/mauroperez602" ><img src="../../../assets/twitter.png" id="twitter" alt="twitter"></a>
             <a href="https://github.com/MauroAp/MauroAp.git"><img src="../../../assets/github.png" id="github" alt="github"></a>

             <button type="button" class="btn btn-outline-success" (click)="login()" >Ingreso</button>
                 <button   type="button" class="btn btn-outline-success" (click)="onLogOut()" >Cerrar Sesion</button> 
         </div>
         
         </div>




</div>

